@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-family: "Press Start 2P", cursive;
}

.error-message {
  color: red;
}

.nav-bar {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-bar nav a {
  margin-left: 10px;
}

.game-board {
  background-color: #202020;
  height: 600px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  margin-top: 15px;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.north-door {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 100px;
  height: 10px;
  background-color: #c3cde6;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.south-door {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100px;
  height: 10px;
  background-color: #c3cde6;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.east-door {
  position: absolute;
  bottom: 50%;
  right: -5px;
  width: 10px;
  height: 100px;
  background-color: #c3cde6;
  z-index: 10;
  transform: translate(-50%, 0%);
}

.west-door {
  position: absolute;
  bottom: 50%;
  left: 5px;
  width: 10px;
  height: 100px;
  background-color: #c3cde6;
  z-index: 10;
  transform: translate(-50%, 0%);
}

.first-row button {
  cursor: pointer;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second-row button {
  cursor: pointer;
}

.third-row button {
  cursor: pointer;
}

.second-row button {
  margin: 10px;
}

.dialog-cont {
  width: 15%;
  margin-left: 16rem;
}

.player-info {
  overflow-y: scroll;
  height: 15rem;
}

.game-container {
  display: flex;
}

.game-container button {
  width: 50px;
  border: 2px solid black;
  border-radius: 3px;
}

.game-container button:hover {
  background-color: #c3cde6;
}

.game-section {
  display: flex;
  flex-direction: column;
  margin-left: 14rem;
}
